<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenma.yueba">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.shenma.yueba.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--app 启动页-->
        <activity
            android:name="com.shenma.yueba.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--app 导航页-->
        <activity
            android:name="com.shenma.yueba.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!--城市列表-->
        <activity
            android:name="com.shenma.yueba.activity.ChooseCityActivity"
            android:screenOrientation="portrait" />



        <!--*********************败家*********************-->
        <!--败家首页-->
        <activity
            android:name="com.shenma.yueba.activity.baijia.MainActivityForBaiJia"
            android:screenOrientation="portrait" />





        <!--********************养家*********************-->


    </application>

    <!--
            友盟开发、测试环境
      <meta-data
           android:name="UMENG_APPKEY"
           android:value="555321fae0f55ae751002b84" >
       </meta-data>
       测试，开发环境
       <meta-data
           android:name="JPUSH_CHANNEL"
           android:value="developer-default" />
       <meta-data
           android:name="JPUSH_APPKEY"
           android:value="bd04e24380b02b787b18d013" />
       -->


    <!-- 生产环境 -->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="55d43ae267e58eacaa002df8"></meta-data>
    <meta-data
        android:name="JPUSH_CHANNEL"
        android:value="developer-default" />
    <meta-data
        android:name="JPUSH_APPKEY"
        android:value="3f6d5f186c19271a004b248e" />




</manifest>
